:root{
  --fondo: #0B120B;
  --text: #6BCF75;
  --fondo2: #213322;
  --border: #08A117;
}

*{
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

*,
*::before,
*::after{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html{
  margin: 0;
  padding: 0;
  font-size: 10px;
}
body{
  font-family: 'Montserrat',Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}


/*////////////////////////////////////*//*Pantalla de carga*/

.loader{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #08A117;
}
.loader__animation{
  height: 5%;
  width: 0%;
  font-size: 20rem;
  transition: all 300ms ease-in-out;
  animation: close 3800ms;
  border-radius: 5px;
}

@keyframes close{
  0%{
    transform: translateY(5rem);
  }
  20%{
    transform: translateX(5rem);
  }
  40%{
    transform: translateY(-5rem);
  }

  60%{
    transform: translateX(-5rem);
  }
  80%{
    transform: translateY(5rem);
  }

  100%{
    transform: translateX(5rem);
  }
/* 
  60%{
    transform: translateX(-10rem);
    transform: translateY(-10rem);
  }
  70%{
    transform: translateX(10rem);
    transform: translateY(10rem);
  }
  80%{
    transform: translateX(-10rem);
    transform: translateY(-10rem);
  }

  90%{
    transform: translateX(10rem);
    transform: translateY(10rem);
  }
  100%{
    transform: translateX(-10rem);
    transform: translateY(-10rem);
  } */
}
/*////////////////////////////////////*//*Pantalla de carga*/


.layout{
  display: none;
  position: absolute;
  width: 100%;
  height: 200%;
  background: linear-gradient(var(--fondo), var(--fondo2));
  flex-direction: column;
}

.layout__nav{
  width: 100%;
  height: 5%;
  background-color: var(--fondo);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-bottom: 1px solid #08A117;
  padding-bottom: 1rem;
}


.nav__logo{
  margin-left: 2rem;
  margin-top: 1rem;
  width: 7rem;
  height: 7rem;
  padding: .5rem;
  border: 2px solid var(--border);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  cursor: pointer;
}
.nav__logo > a > img{
  width: 6rem;
}
.nav__items{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.items__list{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.items__list > li {
  height: 100%;
  list-style: none;
  border-left: 2px solid var(--border);
  display: flex;
  align-items: center;
  padding: 2rem;
}
.items__list > li > a{
  color: var(--text);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  transition: all 300ms linear;
}

.items__list > li > a:hover{
  transform: scale(1.1);
  color: var(--border);

}

.layout__main{
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-areas: 
  "header"
  "boxes";
  grid-template-rows: 10% 90%;
  align-items: center;
  padding: 2rem;
}

.main__header{
  height: 100%;
  width: 100%;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  background: #08A11730;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 2px solid #6BCF7530;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 8px var(--text);
  transition: all 300ms linear;
}

.header__photo{
  width: 10%;
  height: 100%;
  border-radius: 100%;
}

.header__photo > img{
  width: 7em;
  height: 7em;
  border-radius: 100%;
}

.header__description{
  width: 90%;
  height: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: baseline;
  align-items: center;
  color: var(--text);
}


.main__content{
  width: 100%;
  height: 100%;
  grid-area: boxes;
  display: grid;
  grid-template-areas: 
  "box"
  "article";
  grid-template-rows: 50% 50%;
}


.content__boxes{
  width: 100%;
  height: 100%;
  grid-area: box;
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
}
.boxes__box{
  width: 20%;
  height: 80%;
  background: #08A11730;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 2px solid #6BCF7530;
  border-radius: 5px;
  box-shadow: 0 0 8px var(--text);
  transition: all 300ms linear;
}
.box__head{
  color: var(--text);
  padding: 1rem;
  font-weight: 500;
}
.box__head > h3{
  font-size: 2.5rem;
  text-align: center;
  font-weight: 800;
  margin-bottom: 2rem;
}
.box__abilities{
  padding: 2rem;
}
.box__abilities > ul>li{
  color: var(--text);
  list-style: none;
  font-size: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.box__footer{
  color: var(--text);
  padding: 1rem;
  font-weight: 500;

}

.content__articles{
  width: 100%;
  height: 100%;
  grid-area: article;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.articles__box{
  width: 100%;
  height: 25%;
  background: #08A11730;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 2px solid #6BCF7530;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 0 8px var(--text);
  transition: all 300ms linear;
}
.articles__box > h3{
  color: var(--text);
  font-size: 2.5rem;
  font-weight: 800;
}
.articles__text{
  color: var(--text);
  font-size: 1.8rem;
  font-weight: 500;
}

.layout__footer{
  width: 100%;
  height: 10%;
  background: var(--fondo);
  position: relative;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.footer__content{
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__icons{
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons__container{
  height: 100%;
  width: 30%;
  text-align: center;
}

.icons__icon{
  font-size: 5rem;
  color: var(--text);
  cursor: pointer;
  transition: all 300ms ease-out;
}
.icons__icon:hover{
  transform: scale(1.2);
  color: var(--border);
}

.footer__copy{
  width: 100%;
  text-align: center;
  color: var(--text);
  font-size: 1rem;
  letter-spacing: .3rem;
}

.nav__slider{
  color: var(--text);
  font-size: 4rem;
  margin: 2rem;
  cursor: pointer;
  transition: all 300ms linear;
}
.nav__slider:hover{
  color: var(--border);
  transform: scale(1.2);
}



.slider{
  display: none;
  position: fixed;
  top: 0rem;
  left: -80rem;
  width: 100%;
  height: 8rem;
  align-items: center;
  background-color: white;
  padding: 1rem;
  transition: all 500ms linear;
  background-color: var(--fondo);
  transform: "";
}

.slider__items{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.slider__list{
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.slider__list > li {
  height: 70%;
  list-style: none;
  display: flex;
  align-items: start;
  padding: 2rem;
}
.slider__list > li > a{
  color: var(--text);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 300ms linear;
}

.slider__list > li > a:hover{
  transform: scale(1.1);
  color: var(--border);

}

@media (max-width: 1890px){
  .nav__items{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .items__list{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .boxes__box{
    width: 30%;
    height: 80%;
    background: #08A11730;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid #6BCF7530;
    border-radius: 5px;
    box-shadow: 0 0 8px var(--text);
    transition: all 300ms linear;
  }
}
@media (max-width: 1590px) and (min-width: 1391px) and (orientation: landscape) {
  .layout{
    display: none;
    position: absolute;
    width: 100%;
    height: 200%;
    background: linear-gradient(var(--fondo), var(--fondo2));
    flex-direction: column;
  }
  
  .layout__nav{
    width: 100%;
    height: 8%;
    background-color: var(--fondo);
    /* display: flex; */
    overflow: hidden;
    border-bottom: 1px solid #08A117;
    padding-bottom: 1rem;
  }
  
  
  .nav__logo{
    margin-top: 1rem;
    width: 7rem;
    height: 7rem;
    padding: .5rem;
    border: 2px solid var(--border);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
  }
  .nav__logo > a > img{
    width: 6rem;
  }
  .nav__items{
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .items__list{
    height: 100%;
    width: 100%;
    display: flex;
  }
  .items__list > li {
    height: 100%;
    list-style: none;
    border-left: 2px solid var(--border);
    display: flex;
    padding: 2rem;
  }
  .items__list > li > a{
    color: var(--text);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    transition: all 300ms linear;
  }
  
  .items__list > li > a:hover{
    transform: scale(1.1);
    color: var(--border);
  
  }
  
  .layout__main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "header"
    "boxes";
    grid-template-rows: 10% 90%;
    align-items: center;
    padding: 2rem;
  }
  
  .main__header{
    height: 100%;
    width: 100%;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background: #08A11730;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid #6BCF7530;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 8px var(--text);
    transition: all 300ms linear;
  }
  
  .header__photo{
    width: 10%;
    height: 100%;
    border-radius: 100%;
  }
  
  .header__photo > img{
    width: 5em;
    height: 5em;
    border-radius: 100%;
  }
  
  .header__description{
    width: 90%;
    height: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: baseline;
    align-items: center;
    color: var(--text);
  }
  
  
  .main__content{
    width: 100%;
    height: 100%;
    grid-area: boxes;
    display: grid;
    grid-template-areas: 
    "box"
    "article";
    grid-template-rows: 50% 50%;
  }
  
  
  .content__boxes{
    width: 100%;
    height: 100%;
    grid-area: box;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
  }
  .boxes__box{
    width: 32%;
    height: 98%;
    background: #08A11730;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid #6BCF7530;
    border-radius: 5px;
    box-shadow: 0 0 8px var(--text);
    transition: all 300ms linear;
  }
  .box__head{
    color: var(--text);
    padding: 1rem;
    font-weight: 500;
  }
  .box__head > h3{
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  .box__abilities{
    padding: 1rem;
  }
  .box__abilities > ul>li{
    color: var(--text);
    list-style: none;
    font-size: 1.5rem;
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    font-weight: 500;
  }
  .box__footer{
    color: var(--text);
    padding: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
  
  }
  
  .content__articles{
    width: 100%;
    height: 100%;
    grid-area: article;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .articles__box{
    width: 100%;
    height: 30%;
    background: #08A11730;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid #6BCF7530;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 8px var(--text);
    transition: all 300ms linear;
  }
  .articles__box > h3{
    color: var(--text);
    font-size: 2rem;
    font-weight: 800;
  }
  .articles__text{
    color: var(--text);
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .layout__footer{
    width: 100%;
    height: 10%;
    background: var(--fondo);
    position: relative;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .footer__content{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer__icons{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icons__container{
    height: 100%;
    width: 30%;
    text-align: center;
  }
  
  .icons__icon{
    font-size: 5rem;
    color: var(--text);
    cursor: pointer;
    transition: all 300ms ease-out;
  }
  .icons__icon:hover{
    transform: scale(1.2);
    color: var(--border);
  }
  
  .footer__copy{
    width: 100%;
    text-align: center;
    color: var(--text);
    font-size: 1rem;
    letter-spacing: .3rem;
  }
  
}
@media (max-width: 1390px) and (min-width:900px) and (orientation: landscape){
  .layout{
    display: none;
    position: absolute;
    width: 100%;
    height: 200%;
    background: linear-gradient(var(--fondo), var(--fondo2));
    flex-direction: column;
  }
  
  .layout__nav{
    width: 100%;
    height: 8%;
    background-color: var(--fondo);
    /* display: flex; */
    overflow: hidden;
    border-bottom: 1px solid #08A117;
    padding-bottom: 1rem;
  }
  
  
  .nav__logo{
    margin-top: 1rem;
    width: 7rem;
    height: 7rem;
    padding: .5rem;
    border: 2px solid var(--border);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    cursor: pointer;
  }
  .nav__logo > a > img{
    width: 6rem;
  }
  .nav__items{
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .items__list{
    height: 100%;
    width: 100%;
    display: flex;
  }
  .items__list > li {
    height: 100%;
    list-style: none;
    border-left: 2px solid var(--border);
    display: flex;
    padding: 2rem;
  }
  .items__list > li > a{
    color: var(--text);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    transition: all 300ms linear;
  }
  
  .items__list > li > a:hover{
    transform: scale(1.1);
    color: var(--border);
  
  }
  
  .layout__main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "header"
    "boxes";
    grid-template-rows: 10% 90%;
    align-items: center;
    padding: 2rem;
  }
  
  .main__header{
    height: 100%;
    width: 100%;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background: #08A11730;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid #6BCF7530;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 8px var(--text);
    transition: all 300ms linear;
  }
  
  .header__photo{
    width: 15%;
    height: 100%;
    border-radius: 100%;
  }
  
  .header__photo > img{
    width: 5em;
    height: 5em;
    border-radius: 100%;
  }
  
  .header__description{
    width: 85%;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: baseline;
    align-items: center;
    color: var(--text);
  }
  
  
  .main__content{
    width: 100%;
    height: 100%;
    grid-area: boxes;
    display: grid;
    grid-template-areas: 
    "box"
    "article";
    grid-template-rows: 50% 50%;
  }
  
  
  .content__boxes{
    width: 100%;
    height: 100%;
    grid-area: box;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
  }
  .boxes__box{
    width: 32%;
    height: 95%;
    background: #08A11730;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid #6BCF7530;
    border-radius: 5px;
    box-shadow: 0 0 8px var(--text);
    transition: all 300ms linear;
  }
  .box__head{
    color: var(--text);
    padding: 1rem;
    font-weight: 500;
  }
  .box__head > h3{
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  .box__abilities{
    padding: 1rem;
  }
  .box__abilities > ul>li{
    color: var(--text);
    list-style: none;
    font-size: 1.5rem;
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    font-weight: 500;
  }
  .box__footer{
    color: var(--text);
    padding: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
  
  }
  
  .content__articles{
    width: 100%;
    height: 100%;
    grid-area: article;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .articles__box{
    width: 100%;
    height: 30%;
    background: #08A11730;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid #6BCF7530;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 8px var(--text);
    transition: all 300ms linear;
  }
  .articles__box > h3{
    color: var(--text);
    font-size: 2rem;
    font-weight: 800;
  }
  .articles__text{
    color: var(--text);
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .layout__footer{
    width: 100%;
    height: 10%;
    background: var(--fondo);
    position: relative;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .footer__content{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer__icons{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icons__container{
    height: 100%;
    width: 30%;
    text-align: center;
  }
  
  .icons__icon{
    font-size: 5rem;
    color: var(--text);
    cursor: pointer;
    transition: all 300ms ease-out;
  }
  .icons__icon:hover{
    transform: scale(1.2);
    color: var(--border);
  }
  
  .footer__copy{
    width: 100%;
    text-align: center;
    color: var(--text);
    font-size: 1rem;
    letter-spacing: .3rem;
  }
  
  .nav__slider{
    color: var(--text);
    font-size: 4rem;
    margin: 2rem;
    cursor: pointer;
    transition: all 300ms linear;
  }
  .nav__slider:hover{
    color: var(--border);
    transform: scale(1.2);
  }
}

@media (max-width: 1000px) and (min-width:100px) and (orientation: portrait) {
  .layout{
    display: none;
    position: absolute;
    width: 100%;
    height: 800%;
    background: linear-gradient(var(--fondo), var(--fondo2));
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .layout__nav{
    position: fixed;
    top: 7rem;
    width: 100%;
    height: 1%;
    background-color: var(--fondo);
    display: flex;
    justify-content: end;
    overflow: hidden;
    border-bottom: 1px solid #08A117;
  }
  .nav__slider{
    position: fixed;
    top:0rem;
  }

  .layout__main{
    width: 80%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 10rem;
  }
  .main__header{
    height: 10%;
    width: 100%;
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #08A11730;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid #6BCF7530;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 8px var(--text);
    transition: all 300ms linear;
  }
  .header__photo{
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  
  .header__photo > img{
    width: 7em;
    height: 7em;
    border-radius: 100%;
  }
  
  .header__description{
    width: 90%;
    height: 100%;
    font-size: 2.2rem;
    display: flex;
    justify-content: baseline;
    align-items: center;
    text-align: justify;
    color: var(--text);
  }

  .main__content{
    width: 100%;
    height: 100%;
    grid-area: boxes;
    display: grid;
    grid-template-areas: 
    "box"
    "article";
    grid-template-rows: 50% 50%;
  }
  .content__boxes{
    width: 100%;
    height: 100%;
    grid-area: box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  .boxes__box{
    width: 100%;
    height: 25%;
    background: #08A11730;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid #6BCF7530;
    border-radius: 5px;
    box-shadow: 0 0 8px var(--text);
    transition: all 300ms linear;
    margin-bottom: 4rem;
  }
  .box__head{
    color: var(--text);
    padding: 1rem;
    font-weight: 500;
    font-size: 2rem;
    text-align: justify;
    letter-spacing: .1rem;
  }
  .box__head > h3{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: .5rem;
  }
  .box__abilities{
    padding: 2rem;
  }
  .box__abilities > ul>li{
    color: var(--text);
    list-style: none;
    font-size: 2rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
    font-weight: 500;
    letter-spacing: .1rem;
  }
  .box__footer{
    color: var(--text);
    padding: 1rem;
    font-weight: 500;
    font-size: 2rem;
    text-align: justify;
    letter-spacing: .1rem;
  }
  .content__articles{
    width: 100%;
    height: 100%;
    grid-area: article;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .articles__box{
    width: 100%;
    height: 33%;
    background: #08A11730;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid #6BCF7530;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 0 8px var(--text);
    transition: all 300ms linear;
    margin-bottom: 4rem;
  }
  .articles__box:last-child{
    width: 100%;
    height: 20%;
    background: #08A11730;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid #6BCF7530;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 0 8px var(--text);
    transition: all 300ms linear;
    margin-bottom: 4rem;
  }
  .articles__box > h3{
    color: var(--text);
    font-size: 3rem;
    font-weight: 800;
  }
  .articles__text{
    color: var(--text);
    font-size: 2.1rem;
    font-weight: 500;
    text-align: justify;
  }
  .layout__footer{
    width: 100%;
    height: 4%;
    background: var(--fondo);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .footer__content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer__icons{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icons__container{
    height: 100%;
    width: 30%;
    text-align: center;
  }
  
  .icons__icon{
    font-size: 5rem;
    color: var(--text);
    cursor: pointer;
    transition: all 300ms ease-out;
  }
  .icons__icon:hover{
    transform: scale(1.2);
    color: var(--border);
  }
  
  .footer__copy{
    width: 100%;
    text-align: center;
    color: var(--text);
    font-size: 1rem;
    letter-spacing: .3rem;
  }
}



@media (max-width: 1000px) and (min-width:100px) and (orientation: landscape) {
  .layout{
    display: none;
    position: absolute;
    width: 100%;
    height: 800%;
    background: linear-gradient(var(--fondo), var(--fondo2));
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .layout__nav{
    width: 100%;
    height: 1.5%;
    background-color: var(--fondo);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-bottom: 1px solid #08A117;
    padding-bottom: 1rem;
  }
  .nav__items{
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .items__list{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  

  .layout__main{
    width: 80%;
    height: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  .main__header{
    height: 10%;
    width: 100%;
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #08A11730;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid #6BCF7530;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 8px var(--text);
    transition: all 300ms linear;
  }
  .header__photo{
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  
  .header__photo > img{
    width: 7em;
    height: 7em;
    border-radius: 100%;
  }
  
  .header__description{
    width: 90%;
    height: 100%;
    font-size: 2.5rem;
    display: flex;
    justify-content: baseline;
    align-items: center;
    text-align: justify;
    color: var(--text);
  }

  .main__content{
    width: 100%;
    height: 100%;
    grid-area: boxes;
    display: grid;
    grid-template-areas: 
    "box"
    "article";
    grid-template-rows: 50% 50%;
  }
  .content__boxes{
    width: 100%;
    height: 100%;
    grid-area: box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  .boxes__box{
    width: 100%;
    height: 25%;
    background: #08A11730;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid #6BCF7530;
    border-radius: 5px;
    box-shadow: 0 0 8px var(--text);
    transition: all 300ms linear;
    margin-bottom: 4rem;
  }
  .box__head{
    color: var(--text);
    padding: 1rem;
    font-weight: 500;
    font-size: 2rem;
    text-align: justify;
    letter-spacing: .1rem;
  }
  .box__head > h3{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: .5rem;
  }
  .box__abilities{
    padding: 2rem;
  }
  .box__abilities > ul>li{
    color: var(--text);
    list-style: none;
    font-size: 2rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
    font-weight: 500;
    letter-spacing: .1rem;
  }
  .box__footer{
    color: var(--text);
    padding: 1rem;
    font-weight: 500;
    font-size: 2rem;
    text-align: justify;
    letter-spacing: .1rem;
  }
  .content__articles{
    width: 100%;
    height: 100%;
    grid-area: article;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .articles__box{
    width: 100%;
    height: 33%;
    background: #08A11730;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid #6BCF7530;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 0 8px var(--text);
    transition: all 300ms linear;
    margin-bottom: 4rem;
  }
  .articles__box:last-child{
    width: 100%;
    height: 20%;
    background: #08A11730;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid #6BCF7530;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 0 8px var(--text);
    transition: all 300ms linear;
    margin-bottom: 4rem;
  }
  .articles__box > h3{
    color: var(--text);
    font-size: 3rem;
    font-weight: 800;
  }
  .articles__text{
    color: var(--text);
    font-size: 2.1rem;
    font-weight: 500;
    text-align: justify;
  }
  .layout__footer{
    width: 100%;
    height: 4%;
    background: var(--fondo);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .footer__content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer__icons{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icons__container{
    height: 100%;
    width: 30%;
    text-align: center;
  }
  
  .icons__icon{
    font-size: 5rem;
    color: var(--text);
    cursor: pointer;
    transition: all 300ms ease-out;
  }
  .icons__icon:hover{
    transform: scale(1.2);
    color: var(--border);
  }
  
  .footer__copy{
    width: 100%;
    text-align: center;
    color: var(--text);
    font-size: 1rem;
    letter-spacing: .3rem;
  }
}